<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加上传程序</title>
    <link rel="stylesheet" href="/templates/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="container">
    <form class="form-upload-img" th:action="@{/upload}" enctype="multipart/form-data" method="post">

        <label>*程序名称</label><input type="text" class="form-control" name="appName"/>
        <br>

        <label>*更新后启动的程序：</label><input type="text" class="form-control" placeholder="必填" name="applicationStart"/>
        <br>

        <label>*版本号：</label><input type="text" class="form-control" placeholder="必填" name="minVersion"/>
        <br>

        <label>*发布版本号：</label><input type="text" class="form-control" placeholder="必填" name="releaseVersion"/>
        <br>

        <label>*更新界面提示信息：</label><input type="text" class="form-control" placeholder="必填" name="versionDesc"/>
        <br>

        <label>*是否强制更新：</label>
        <select name="forceUpdate" class="form-control">
            <option value="0">否</option>
            <option value="1">是</option>
        </select>
        <br>
        <input type="file" class="form-control" name="file" id="fileOne" multiple required/>
        <input type="hidden" class="form-control" name="format" value="html"/>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </form>

    <div class="row" id="txt">
    </div>
</div>


</body>
</html>